<div class="main-container">
  <h2 class="driver-title">Detalji Vožnje</h2>
  <div
    style="display: flex; overflow-x: auto; width: 100%"
    [ngStyle]="{
      'justify-content': justifyCondition ? 'space-between' : 'space-around'
    }"
  >
    <div style="width: 250px" *ngIf="userRole !== Role.DRIVER">
      <app-profile-details
        [fareData]="fareData"
        [mode]="'driver'"
      ></app-profile-details>
    </div>

    <div *ngIf="userRole !== Role.USER">
      <div
        style="width: 250px"
        *ngFor="let item of fareData.users; let i = index"
      >
        <app-profile-details
          [fareData]="fareData"
          [mode]="'client'"
          [clientIndex]="i"
        ></app-profile-details>
      </div>
    </div>

    <div class="action-container" *ngIf="userRole === Role.USER">
      <span
        [matTooltip]="'Rok za ocenjivanje je 3 dana!'"
        [matTooltipDisabled]="
          rateButtonDetails.enable ||
          rateButtonDetails.displayText === 'OCENILI STE VOŽNJU'
        "
        matTooltipPosition="above"
        ><button
          mat-raised-button
          color="basic"
          style="border: 2px solid gray"
          (click)="openRatingDialog()"
          [disabled]="!rateButtonDetails.enable"
        >
          {{ rateButtonDetails.displayText }}
        </button></span
      >
      <button
        mat-raised-button
        color="basic"
        style="border: 2px solid gray"
        (click)="scheduleRoute()"
      >
        ZAKAŽI PONOVO
      </button>
      <button
        mat-raised-button
        color="basic"
        style="border: 2px solid gray"
        (click)="onFavouriteButtonClick()"
      >
        {{
          isFavourite.isFavourite ? "IZBACI IZ OMILJENIH" : "DODAJ U OMILJENE"
        }}
      </button>
    </div>
  </div>
  <h2 class="driver-title" style="margin-top: 10px">Ocene</h2>
  <div
    class="ratings-container"
    [ngStyle]="{
      'justify-content':
        fareData.ratings.length > 2 ? 'space-between' : 'space-around'
    }"
  >
    <div *ngFor="let rating of fareData.ratings">
      <app-rating-card [rating]="rating"></app-rating-card>
    </div>
    <h2 *ngIf="fareData.ratings.length === 0">Vožnja nije ocenjena!</h2>
  </div>
</div>
