<div class="main-container">
  <h2 class="driver-title">Detalji Vožnje</h2>
  <div style="display: flex; justify-content: space-between">
    <div style="width: 250px">
      <app-profile-details [fareData]="fareData"></app-profile-details>
    </div>
    <div class="action-container">
      <button
        mat-raised-button
        color="basic"
        style="border: 2px solid gray"
        (click)="openRatingDialog()"
        [disabled]="!enableRateButton"
      >
        {{ enableRateButton ? "OCENI VOŽNJU" : "OCENILI STE VOŽNJU" }}
      </button>
      <button mat-raised-button color="basic" style="border: 2px solid gray">
        ZAKAŽI PONOVO
      </button>
      <button mat-raised-button color="basic" style="border: 2px solid gray">
        DODAJ RUTU U OMILJENE
      </button>
    </div>
  </div>
  <h2 class="driver-title" style="margin-top: 10px">Ocene</h2>
  <div class="ratings-container">
    <app-rating-card
      *ngFor="let rating of fareData.ratings"
      [rating]="rating"
    ></app-rating-card>
    <h2 *ngIf="fareData.ratings.length === 0">Vožnja nije ocenjena!</h2>
  </div>
</div>
