<mat-card class="card">
  <h1 class="title">Zaboravljena lozinka</h1>
  <mat-card-content class="card-content">
    <p>
      Molimo vas da unesete e-mail adresu povezanu sa Vašim nalogom. Na toj
      adresi ćete primiti e-mail sa daljim instrukcijama.
    </p>
    <span style="display: flex; justify-content: center">
      <form>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="text" [formControl]="email" />
        </mat-form-field>
      </form>
    </span>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-button style="color: lightgreen" (click)="onConfirmClick()">
      POŠALJI
    </button>
    <button mat-button (click)="onCancelClick()">ODUSTANI</button>
  </mat-card-actions>
</mat-card>
