mat-card {
  width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.left-spacing {
  margin-left: 5px;
}

.top-spacing {
  margin-top: 15px;
}

.text-danger {
  color: rgb(243, 62, 62);
  font-weight: bold;
  margin-bottom: 5px;
}