.main-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.paginator-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}