<form [formGroup]="form">
  <!-- E-mail -->
  <mat-form-field>
    <input
      matInput
      formControlName="email"
      placeholder="E-mail"
      name="username"
      required
    />
  </mat-form-field>
  <small class="text-danger" *ngIf="form.get('email')!.hasError('pattern')">
    Neispravan format!
  </small>

  <!-- Password -->
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Lozinka"
      name="password"
      required
    />
  </mat-form-field>
  <small
    class="text-danger"
    *ngIf="form.get('password')!.hasError('minlength')"
  >
    Lozinka mora sadržati minimalno 8 karaktera!
  </small>
  <small
    class="text-danger"
    *ngIf="form.get('password')!.hasError('maxlength')"
  >
    Lozinka mora sadržati manje od 30 karaktera!
  </small>

  <!-- Confirm Password -->
  <mat-form-field>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      placeholder="Ponovi lozinku"
      name="confirmPassword"
      required
    />
  </mat-form-field>
  <small
    class="text-danger"
    *ngIf="
      form.hasError('matchingPasswordsError') &&
      form.controls['confirmPassword'].value !== ''
    "
    >Lozinke se ne podudaraju!</small
  >

  <!-- Name -->
  <mat-form-field>
    <input
      matInput
      formControlName="name"
      placeholder="Ime"
      name="name"
      required
    />
  </mat-form-field>

  <!-- Surname -->
  <mat-form-field>
    <input
      matInput
      formControlName="lastName"
      placeholder="Prezime"
      name="lastName"
      required
    />
  </mat-form-field>

  <!-- City/Town -->
  <mat-form-field>
    <input
      matInput
      formControlName="town"
      placeholder="Mesto"
      name="town"
      required
    />
  </mat-form-field>

  <!-- Phone Number -->
  <mat-form-field>
    <input
      matInput
      formControlName="phoneNumber"
      placeholder="Broj Telefona"
      name="phoneNumber"
      required
    />
  </mat-form-field>
  <small
    class="text-danger"
    *ngIf="form.get('phoneNumber')!.hasError('pattern')"
  >
    Broj telefona mora da se sastoji od 9-12 cifara!
  </small>
  <!-- <pre>{{form.value | json}}</pre> -->
</form>
