.chat-messages-show-container{
    background: #c3c3c3;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
 .chat-messages-create-container{
    background: #616161;
    height: 100px;
    display: flex;
    justify-content: center;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2
 }
 .chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
 }

.contacts .user{
  padding: 5px 0;
  border-bottom: 1px solid #f1f2f2;
  transition: 0.7s;
}

.contacts .user .lastMessage{
   color: rgb(230, 195, 195);
}

.contacts .active{  
   transform: scale(0.9);
   background: linear-gradient(41deg, transparent,#7b1fa2,transparent)
}

.contacts .blink{
   
   background: linear-gradient(41deg, transparent,red,transparent);
   animation:blinking 2s infinite;
}
@keyframes blinking{
    0%{     opacity: 0.5;}
    50%{  opacity: 1; }
    100%{    opacity: 0.5; }
}

.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.profile-photo-lg{
  width: 80%;
  border-radius: 50%;
}

.chat-head .username{
   color: white;
}
