<h2 mat-dialog-title>
    Trenutno ste u vožnji
</h2>

<mat-dialog-content class="mat-typography">
    <app-map #map
    [addWaypoints]="true"
    [startCoord]="startCord"
    [endCoord]="endCord"
    [onWayStations]="onWayStations"
    [mapInDialog]="true"    
    [displayDrivers]="true"    
    >
    </app-map>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" name="end-ride" mat-dialog-close (click)="finishRide()" *ngIf="!openDeniedDialog">Završi vožnju</button>
    <button mat-raised-button color="warn" (click)="interruptRide()" *ngIf="!openDeniedDialog">Prekini vožnju</button>

    <app-note *ngIf="openDeniedDialog"
        [title]="titleReason"
        [placeholder]="'Morate uneti razlog prekidanja vožnje ...'"
        [offenderId]="driverId"
        [noteType]="noteType"
        (noteSent)="closeDialog($event)"
        >
    </app-note>
</mat-dialog-actions>
