<mat-card class="main-card">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="140px">
            <mat-grid-tile colspan="3" rowspan="4">                
                <app-map #map
                        [addWaypoints]="false"
                        [readOnly]="false"                                             
                        [startCoord]="startCoord"
                        [onWayStations]="onWayStations"
                        [endCoord]="endCoord"
                        [displayDrivers]="true"
                        (startChanged)="updateStartFormControl($event)"
                        (endChanged)="updateEndFormControl($event)"
                        (priceChanged)="setPriceFormControl($event)"
                        (timeChanged)="setTimeFormControl($event)">
                </app-map>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="4">
                <app-ride-data #data
                        [start]="start"
                        [end]="end"
                        [price]="price"
                        [time]="time"
                        (startSearched)="OnStartSearched($event)"
                        (endSearched)="OnEndSearched($event)">
                </app-ride-data>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
