<mat-toolbar color="primary" class="flexExpand">
  <span style="display: flex; align-items: center">
    <app-burger-menu-icon
      style="margin-right: 16px"
      *ngIf="loginService.isTokenPresent"
    ></app-burger-menu-icon>
    <span class="logo" [routerLink]="['/home']">RideShare</span>
  </span>
  <span *ngIf="loginService.isTokenPresent" (click)="logout()" class="logout"
    >Odjavi se
    <fa-icon
      class="icon-button"
      [icon]="logoutIcon"
      style="margin-left: 6px"
    ></fa-icon
  ></span>

  <div class="user-data" *ngIf="username">
    <app-tokens-count [routerLink]="['/tokens']" [isCurrentUserTokens]="true"></app-tokens-count>
    <span class="username">[ {{username}} ]</span>
  </div>
</mat-toolbar>
