mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.left-spacing {
  margin-left: 5px;
}

.top-spacing {
  margin-top: 15px;
}

.icon-container{
  display: flex;
  justify-content: space-around;
}

.icon-button:hover {
  cursor: pointer;
  color: white;
  scale: 1.1;
  transition: 0.3s;
}
