<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <h2>Prijava</h2>

      <mat-form-field>
        <input
          matInput
          formControlName="username"
          placeholder="E-mail"
          name="email"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Lozinka"
          name="password"
          required
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="loginRequest()"
      >
        Prijavi se
      </button>
      <mat-divider
        style="margin-top: 15px; margin-bottom: 15px"
        inset
      ></mat-divider>
      <h4>Prijava putem društvenih mreža:</h4>
      <div class="icon-container">
        <fa-icon class="icon-button" [icon]="faFacebook" size="4x"></fa-icon>
        <fa-icon class="icon-button" [icon]="faGoogle" size="4x"></fa-icon>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<app-chat-button></app-chat-button>