<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>{{placeholder}}</mat-label>
                <textarea matInput formControlName="textarea" required></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="sendNote()">Pošalji</button>
        </form>
    </mat-card-content>
</mat-card>
