.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#7b1fa2;
	color:#FFF;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #000;
  z-index:100;
}

.live-chat-btn{
    cursor: pointer;
}

.live-chat-btn:hover:before{
    opacity: 1;
}

.live-chat-btn:before {
    position: absolute;
    top:10px;
    left: -195px;
    background: rgba(0,0,0,.75);
    border-radius: 5px;
    color: #fff;
    content: 'Kontaktirajte našu podršku';
    font-size: 14px;
    padding: 6px 10px;
    white-space: nowrap;
    opacity: 0;
    transition: 1s;

  }

.animated{
  animation: bounce infinite;
}

@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}